# Auto detect text files and perform LF normalization
* text=auto

Content/Characters/** filter=lfs diff=lfs merge=lfs -text
Content/LevelPrototyping/** filter=lfs diff=lfs merge=lfs -text
Content/Materials/** filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/** filter=lfs diff=lfs merge=lfs -text